In [1]:
import pandas as pd

In [5]:
pd.DataFrame([{'Apples': 30,'Bananas': 21}])

   Apples  Bananas
0      30       21

In [11]:
df=pd.DataFrame([{'Apples': 35,'Bananas': 21},{'Apples': 41,'Bananas': 34}]) 
df.rename(columns={0: '2017 Sales', 1: '2018 Sales'}, inplace=True)

In [9]:
pd.Series(['4 cups', '1 cup', '2 large', '1 can'], index=['Flour', 'Milk', 'Eggs', 'Spam'], name='Dinner')

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [2]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [3]:
data = pd.Series([0.25,0.50,0.75,1],index=['a','b','c','d'])
'a' in data

True